<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace的作用：防止id重复 -->
<mapper namespace="org.example.mybatis.mapper.UserMapper">

    <insert id="insertUser">
        insert into jmc_user(username, password) values (#{username}, #{password})
    </insert>

    <insert id="insertUserByEntity">
        insert into jmc_user(username, password) values (#{username}, #{password})
    </insert>

    <delete id="deleteUserById">
        delete from jmc_user where id = #{id}
    </delete>

    <update id="updateUser">
        update jmc_user set password = #{password} where id = #{id}
    </update>

    <!-- 如果在mybatis的配置文件中配置了返回类型的别名时, 可以直接使用 -->
    <select id="selectUserById" resultType="User">
        select * from jmc_user where id = #{id}
    </select>

    <select id="selectAll" resultType="org.example.mybatis.entity.User">
        select * from jmc_user
    </select>

</mapper>